@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSans';
    src: url('/fonts/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




.main-table {
    font-family: Verdana;
    color: black;
    font-size: 15px;
}